/* style-main.css */

/* Global Styles */
.cv-content {
  width: 80%;
  margin: auto;
  padding: 20px;
}

/* Rubrique Styles */
.cv-rubrique {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

.cv-rubrique li a {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
  text-decoration: none;
  color: black;
}

.cv-rubrique li:hover {
  background-color: #ccc;
}

/* Drawer Styles */
.drawer-content {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.5em;
}

.drawer-content p {
  margin: 5px 0;
}

/* Remove color and underline from links inside the drawer content */
.drawer-content a {
  color: inherit;
  text-decoration: none;
}

.drawer-content a:hover {
  text-decoration: underline;
  text-decoration: none;
}
